@import "tailwindcss";

/* globals.css */

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}
:root {
  --color-primary: #eff0f4;
    /* Main text / headings */
  --color-secondary: #c9cdce;  /* Sub text / paragraphs */
  --color-accent: #E6D3A3;     /* Links / highlights / hover */
}

body {
  background-color: #576d75; /* your bg.jpg dominant color */
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;       /* ⬅ fills entire screen */
  background-attachment: fixed; /* ⬅ stays in place */

  color: var(--color-primary);
}

.text-primary {
  color: var(--color-primary);
}

.text-secondary {
  color: var(--color-secondary);
}

.text-accent {
  color: var(--color-accent);
}

.animate-logo-bounce {
  animation: logoBounce 1.8s infinite alternate cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes logoBounce {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-6px) scale(1.04);
  }
}

.text_color {
  color: #b0ddef;
text-shadow: 0 0 20px rgba(96, 165, 250, 0.4),
             0 0 40px rgba(96, 165, 250, 0.2);
}

@font-face {
  font-family: 'Roboto';
  src: url('../public/assets/Roboto_Condensed/static/RobotoCondensed-Black.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

h1 {
  font-family: 'Roboto', sans-serif;
}

h2, h3 {
  font-family: 'Roboto', sans-serif;
}

.special-text {
  font-family: 'Roboto', sans-serif;
}

.about {
  font-family: "Robot",'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Outfit */
.font-outfit {
  font-family: "Outfit", sans-serif;
}

/* Roboto Condensed */
.font-roboto {
  font-family: "Roboto Condensed", sans-serif;
}

/* Winky Rough */
.font-winky {
  font-family: "Winky Rough", sans-serif;
}

/* SN Pro */
.font-sn {
  font-family: "SN Pro", sans-serif;
}
@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(12px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInStable {
  0% {
    opacity: 0;
    transform: translateY(6px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-up {
  animation: fadeUp 0.7s ease-out forwards;
}

.animate-fade-in-stable {
  opacity: 0;
  animation: fadeInStable 0.7s ease-out forwards;
  animation-delay: 0.3s;
}
